@model PagedList.IPagedList<CNMWebApp.Models.SolicitudVacaciones>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solicitudes de Vacaciones</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Estado Actual")
        </th>
        <th>
            @Html.Label("Cédula Empleado")
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>*@
        <th>
            @Html.Label("Comentario")
        </th>
        <th>
            @Html.Label("Cantidad Días Solicitados")
        </th>
        <th>
            @Html.Label("Fecha Solicitud")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioId)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FechaInicio)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDiasSolicitados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.SolicitudVacacionesId }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.SolicitudVacacionesId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.SolicitudVacacionesId })
            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("Index",
    new { pagina, misSolicitudes = ViewBag.MisSolicitudes }))