@model PagedList.IPagedList<CNMWebApp.Models.SolicitudViewModel>
@using PagedList.Mvc;
@using CNMWebApp.Services;

@{
    var userService = new UserService();
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuarioLogeado = userService.GetLoggedInUser();
    var filtradoPor = ViewBag.FiltradoPor ?? "MisSolicitudes";
    var fechaInicio = ViewBag.FechaInicio ?? "";
    var fechaFinal = ViewBag.FechaFinal ?? "";
    var columna = "col-md-6";
}

<h2>Solicitudes de Vacaciones</h2>

<br />
<br />

@using (Html.BeginForm("Index", "Solicitud", FormMethod.Get))
{
    <div class="row">
        @{
            if (usuarioLogeado.Result.Role.Name.Equals("jefatura", StringComparison.OrdinalIgnoreCase))
            {
                columna = "col-md-4";

                <div class="col-md-4">
                    @Html.Label("Ver solicitudes", htmlAttributes: new { @id = "role-dropdown", @class = "control-label" })
                    <div>
                        <select id="FiltrarPor" name="FiltrarPor" class="dropdownOpciones form-control">
                            <option value="MisSolicitudes">Mis Solicitudes</option>
                            <option value="FuncionariosPorUnidadTecnica">De mis colaboradores a cargo</option>
                            <option value="Todos">Todos</option>
                        </select>
                    </div>
                </div>
            }
            if (usuarioLogeado.Result.Role.Name.Equals("recursos humanos", StringComparison.OrdinalIgnoreCase) || usuarioLogeado.Result.Role.Name.Equals("manager", StringComparison.OrdinalIgnoreCase) || (usuarioLogeado.Result.EsSuperusuario && usuarioLogeado.Result.Role.Name.Equals("funcionario", StringComparison.OrdinalIgnoreCase)))
            {
                columna = "col-md-4";

                <div class="col-md-4">
                    @Html.Label("Ver solicitudes", htmlAttributes: new { @id = "role-dropdown", @class = "control-label" })
                    <div>
                        <select id="FiltrarPor" name="FiltrarPor" class="dropdownOpciones form-control">
                            <option value="MisSolicitudes">Mis Solicitudes</option>
                            <option value="Funcionarios">Funcionarios</option>
                            <option value="Jefaturas">Jefaturas</option>
                            <option value="DirectorGeneral">Director General</option>
                            <option value="DirectorAdministrativo">Director Administrativo</option>
                            <option value="Todos">Todos</option>
                        </select>
                    </div>
                </div>
            }

            if (usuarioLogeado.Result.Role.Name.Equals("director", StringComparison.OrdinalIgnoreCase))
            {
                columna = "col-md-4";

                <div class="col-md-4">
                    @Html.Label("Ver solicitudes", htmlAttributes: new { @id = "role-dropdown", @class = "control-label" })
                    <div>
                        <select id="FiltrarPor" name="FiltrarPor" class="dropdownOpciones form-control">
                            <option value="MisSolicitudes">Mis Solicitudes</option>
                            <option value="Jefaturas">De mis colaboradores a cargo (Jefaturas)</option>
                            <option value="Funcionarios">Funcionarios</option>
                            <option value="DirectorGeneral">Director General</option>
                            <option value="DirectorAdministrativo">Director Administrativo</option>
                            <option value="Todos">Todos</option>
                        </select>
                    </div>
                </div>
            }
        }

        <div class="@columna">
            @Html.Label("Fecha Inicio", htmlAttributes: new { @class = "control-label" })
            <div>
                <div class='input-group date fecha-inicio'>
                    <input id="FechaInicio" name="FechaInicio" autocomplete="off" placeholder="yyyy/mm/dd" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="@columna">
            @Html.Label("Fecha Final", htmlAttributes: new { @class = "control-label" })
            <div>
                <div class='input-group date fecha-final'>
                    <input id="FechaFinal" name="FechaFinal" autocomplete="off" placeholder="yyyy/mm/dd" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-11">
            @Html.TextBox("Filtro", "", new { @class = "form-control", placeholder = "Buscar..." })
        </div>
        <div class="col-md-1">
            <input type="submit" value="Buscar" class="btn btn-default btn-block" />
        </div>
    </div>
    <br />
}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.Label("Número Solicitud")
            </th>
            <th>
                @Html.Label("Estado Actual")
            </th>
            <th>
                @Html.Label("Cédula")
            </th>
            <th>
                @Html.Label("Nombre")
            </th>
            <th>
                @Html.Label("Primer Apellido")
            </th>
            <th>
                @Html.Label("Segundo Apellido")
            </th>
            <th>
                @Html.Label("Comentario")
            </th>
            <th>
                @Html.Label("Cantidad Días Solicitados")
            </th>
            <th>
                @Html.Label("Fecha Solicitud")
            </th>
            <th>
                @Html.Label("Acciones")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SolicitudNumero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadDiasSolicitados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSolicitud)
                </td>
                <td>
                    @Html.ActionLink("Detalles", "Detalle", new { id = item.SolicitudId })
                </td>
            </tr>
        }
    </table>
</div>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("Index",
    new { pagina, filtrarPor = filtradoPor, fechaInicio, fechaFinal }))

@section scripts
{
    <script>
        var url = '@Url.Action("Index", "Solicitud")';

        var filtradoPor = @Html.Raw(Json.Encode(filtradoPor));
        var fechaInicio = @Html.Raw(Json.Encode(fechaInicio));
        var fechaFinal = @Html.Raw(Json.Encode(fechaFinal));

        $('.dropdownOpciones').change(function () {
            var selectedOption = $('.dropdownOpciones').val();
            location.href = url + '/?filtrarPor=' + selectedOption + '&fechaInicio=' + fechaInicio + '&fechaFinal=' + fechaFinal;
        });

        //$('#btn-buscar').click(function () {
        //    var selectedOption = $('.dropdownOpciones').val();
        //    var fechaInicio = $('#FechaInicio').val();
        //    var fechaFinal = $('#FechaFinal').val();

        //    location.href = url + '/?filtrarPor=' + selectedOption + '&fechaInicio=' + fechaInicio + '&fechaFinal=' + fechaFinal;
        //});

        if (filtradoPor) {
            $('.dropdownOpciones').val(filtradoPor);
        }

        $('#FechaInicio').datepicker({
            format: 'yyyy/mm/dd',
            todayHighlight: true,
            autoclose: true,
        }).datepicker();

        $('#FechaFinal').datepicker({
            format: 'yyyy/mm/dd',
            todayHighlight: true,
            autoclose: true,
        }).datepicker();

        $('#FechaInicio').datepicker('update', fechaInicio);
        $('#FechaFinal').datepicker('update', fechaFinal);
    </script>
}