@model PagedList.IPagedList<CNMWebApp.Models.SolicitudVacaciones>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solicitudes de Vacaciones</h2>

<table class="table">
    <tr>
        <th>
            @Html.Label("Estado Actual")
        </th>
        <th>
            @Html.Label("Cédula")
        </th>
        <th>
            @Html.Label("Nombre")
        </th>
        <th>
            @Html.Label("Primer Apellido")
        </th>
        <th>
            @Html.Label("Segundo Apellido")
        </th>
        <th>
            @Html.Label("Comentario")
        </th>
        <th>
            @Html.Label("Cantidad Días Solicitados")
        </th>
        <th>
            @Html.Label("Fecha Solicitud")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.PrimerApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.SegundoApellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDiasSolicitados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>
            <td>
                @Html.ActionLink("Revisar", "Revisar", new { id = item.SolicitudVacacionesId })
            </td>
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("SolicitudesEmpleados",
    new { pagina }))