@model PagedList.IPagedList<CNMWebApp.Models.SolicitudVacaciones>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Solicitudes Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var fechaInicio = ViewBag.FechaInicio ?? "";
    var fechaFinal = ViewBag.FechaFinal ?? "";
}

<h2>Solicitudes de Vacaciones</h2>

@using (Html.BeginForm("SolicitudesEmpleados", "Solicitud", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-6">
            @Html.Label("Fecha Inicio", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class='input-group date fecha-inicio'>
                    <input id="FechaInicio" name="FechaInicio" autocomplete="off" placeholder="yyyy/mm/dd" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @Html.Label("Fecha Final", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class='input-group date fecha-final'>
                    <input id="FechaFinal" name="FechaFinal" autocomplete="off" placeholder="yyyy/mm/dd" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-10">
            @Html.TextBox("Filtro", "", new { @class = "form-control", placeholder = "Buscar..." })
        </div>
        <div class="col-md-2">
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </div>
    <br />
}

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.Label("Estado Actual")
            </th>
            <th>
                @Html.Label("Cédula")
            </th>
            <th>
                @Html.Label("Nombre")
            </th>
            <th>
                @Html.Label("Primer Apellido")
            </th>
            <th>
                @Html.Label("Segundo Apellido")
            </th>
            <th>
                @Html.Label("Comentario")
            </th>
            <th>
                @Html.Label("Cantidad Días Solicitados")
            </th>
            <th>
                @Html.Label("Fecha Solicitud")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.PrimerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.SegundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadDiasSolicitados)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSolicitud)
                </td>
                <td>
                    @Html.ActionLink("Revisar", "Revisar", new { id = item.SolicitudVacacionesId })
                </td>
            </tr>
        }
    </table>
</div>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("SolicitudesEmpleados",
    new { pagina, fechaInicio, fechaFinal }))

@section scripts
{
    <script>
        var fechaInicio = @Html.Raw(Json.Encode(fechaInicio));
        var fechaFinal = @Html.Raw(Json.Encode(fechaFinal));

        $('#FechaInicio').datepicker({
            format: 'yyyy/mm/dd',
            todayHighlight: true,
            autoclose: true,
        }).datepicker();

        $('#FechaFinal').datepicker({
            format: 'yyyy/mm/dd',
            todayHighlight: true,
            autoclose: true,
        }).datepicker();

        $('#FechaInicio').datepicker('update', fechaInicio);
        $('#FechaFinal').datepicker('update', fechaFinal);
    </script>
}