@model PagedList.IPagedList<CNMWebApp.Models.UserViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear Usuario", "Create")
</p>

@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-10">
            @Html.TextBox("Filtro", "", new { @class = "form-control", placeholder = "Buscar..." })
        </div>
        <div class="col-md-2">
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </div>
}
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th class="thead-dark" scope="col">
                @Html.Label("Cedula")
            </th>
            <th scope="col">
                @Html.Label("Nombre")
            </th>
            <th scope="col">
                @Html.Label("Primer Apellido")
            </th>
            <th scope="col">
                @Html.Label("Segundo Apellido")
            </th>
            <th scope="col">
                @Html.Label("Correo")
            </th>
            <th scope="col">
                @Html.Label("Telefono")
            </th>
            <th scope="col">
                @Html.Label("Fecha de Ingreso")
            </th>
            <th scope="col">
                @Html.Label("Rol")
            </th>
            <th scope="col">
                @Html.Label("Unidad Tecnica")
            </th>
            <th scope="col">
                @Html.Label("Categoria")
            </th>
            <th scope="col">
                @Html.Label("Activo")
            </th>
            <th scope="col">
                @Html.Label("Super Usuario")
            </th>
            <th scope="col">
                @Html.Label("Acciones")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadTecnica.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstaActivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EsSuperusuario)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>

<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("Index",
    new { pagina }))
