@model PagedList.IPagedList<CNMWebApp.Models.UserViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @*@Html.ActionLink("Crear Usuario", "Create")*@
    <a class="btn btn-default" href="@Url.Action("Create")">
        Agregar Empleado<br>
        <i class="fa fa-user-plus w3-margin-bottom w3-text-theme" style="font-size:50px"></i>
    </a>
</p>

@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-6">
            @Html.Label("Fecha Inicio", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class='input-group date fecha-inicio'>
                    <input id="FechaInicio" name="FechaInicio" autocomplete="off" placeholder="yyyy/mm/dd" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            @Html.Label("Fecha Final", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class='input-group date fecha-final'>
                    <input id="FechaFinal" name="FechaFinal" autocomplete="off" placeholder="yyyy/mm/dd" type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @Html.Label("Ver usuarios", htmlAttributes: new { @id = "role-dropdown", @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="EstadoUsuario" name="EstadoUsuario" class="dropdownOpciones form-control">
                    <option value="Activo">Activos</option>
                    <option value="Inactivo">Inactivos</option>
                    <option value="Ambos">Ambos</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            @Html.TextBox("Filtro", "", new { @class = "form-control", @placeholder = "Buscar..." })
        </div>
        <div class="col-md-1">
            <input type="submit" value="Buscar" class="btn btn-default btn-block" />
        </div>
    </div>
}
<br />

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th class="thead-dark" scope="col">
                @Html.Label("Cédula")
            </th>
            <th scope="col">
                @Html.Label("Nombre")
            </th>
            <th scope="col">
                @Html.Label("Primer Apellido")
            </th>
            <th scope="col">
                @Html.Label("Segundo Apellido")
            </th>
            <th scope="col">
                @Html.Label("Correo")
            </th>
            <th scope="col">
                @Html.Label("Teléfono")
            </th>
            <th scope="col">
                @Html.Label("Fecha de Ingreso")
            </th>
            <th scope="col">
                @Html.Label("Fecha de Creación")
            </th>
            <th scope="col">
                @Html.Label("Rol")
            </th>
            <th scope="col">
                @Html.Label("Unidad Técnica")
            </th>
            <th scope="col">
                @Html.Label("Categoría")
            </th>
            <th scope="col">
                @Html.Label("Activo")
            </th>
            <th scope="col">
                @Html.Label("Super Usuario")
            </th>
            <th scope="col">
                @Html.Label("Acciones")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnidadTecnica.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstaActivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EsSuperusuario)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>

<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, pagina => Url.Action("Index",
    new { pagina, fechaInicio = ViewBag.FechaInicio, fechaFinal = ViewBag.FechaFinal, estadoUsuario = ViewBag.EstadoUsuario }))


@section scripts
{
    <script>
        var fechaInicio = @Html.Raw(Json.Encode(ViewBag.FechaInicio ?? ""));
        var fechaFinal = @Html.Raw(Json.Encode(ViewBag.FechaFinal ?? ""));
        var estadoUsuario = @Html.Raw(Json.Encode(ViewBag.EstadoUsuario ?? "Ambos"));

        if (estadoUsuario) {
            $('#EstadoUsuario').val(estadoUsuario);
        }

        $('#FechaInicio').datepicker({
            format: 'yyyy/mm/dd',
            todayHighlight: true,
            autoclose: true,
        }).datepicker();

        $('#FechaFinal').datepicker({
            format: 'yyyy/mm/dd',
            todayHighlight: true,
            autoclose: true,
        }).datepicker();

        $('#FechaInicio').datepicker('update', fechaInicio);
        $('#FechaFinal').datepicker('update', fechaFinal);
    </script>    
}