<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Contents/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    @RenderSection("scripts", required: false)

    <script>

        $(document).ready(function () {
            $('.fecha-ingreso').datepicker({
                format: 'yyyy/mm/dd',
                todayHighlight: true,
                autoclose: true,
            }).datepicker('update', new Date());

            $('.datepicker-edit').datepicker({
                format: 'yyyy/mm/dd',
                todayHighlight: true,
                autoclose: true
            });
            
            $("#SelectedRoleId").change(function (event) {
                var roleId = event.target.value;
                var url = "/User/ObtenerUnidadesCategoriasPorRoleId/";

                $.ajax({
                    url: url,
                    cache: false,
                    data: { roleId: roleId },
                    type: "GET",
                    success: function (data) {
                        var markup = "";

                        $('#SelectedUnidadTecnicaId').html('');
                        $('#SelectedCategoriaId').html('');

                        // Lleno dropdown con datos de unidades tecnicas
                        for (var x = 0; x < data.Unidades.length; x++) {
                            markup += "<option value=" + data.Unidades[x].Value + ">" + data.Unidades[x].Text + "</option>";
                        }
                        $("#SelectedUnidadTecnicaId").append(markup);
                        $("#unidades-tecnicas").show();
                        if (data.Unidades.length === 1) {
                            $("#unidades-tecnicas").hide();
                        }

                        // Lleno dropdown con datos de categorias
                        markup = "";
                        for (var x = 0; x < data.Categorias.length; x++) {
                            markup += "<option value=" + data.Categorias[x].Value + ">" + data.Categorias[x].Text + "</option>";
                        }
                        $("#SelectedCategoriaId").append(markup);
                        $("#categorias").show();
                        if (data.Categorias.length === 1) {
                            $("#categorias").hide();
                        }

                    },
                    error: function (response) {
                        console.log(response.responseText);
                        alert("error : " + response.responseText);
                    }
                });
            });
        });
    </script>
</body>
</html>
