@model CNMWebApp.Models.UserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-row-padding w3-center w3-margin-top">
    <!-- Opciones para todos los empleados, menos superusuario por defecto del sistema -->
    @if (!Model.Email.Equals("manager@manager.com"))
    {
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:250px">
                <a href="@Url.Action("Crear", "Solicitud")">
                    <h3>Solicitar Vacaciones</h3><br>
                    <i class="fa fa-plane w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                </a>
            </div>
        </div>
    }
    <!-- Fin Opciones para todos los empleados -->
    <!-- Opciones para la Jefatura y Directores -->
    @if (Model.Role.Name.Equals("jefatura", StringComparison.OrdinalIgnoreCase) || Model.Role.Name.Equals("director", StringComparison.OrdinalIgnoreCase))
    {
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:250px">
                <a href="@Url.Action("SolicitudesEmpleados", "Solicitud")">
                    <h3>Aprobar/Rechazar Solicitudes</h3><br>
                    <i class="fa fa-check w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                </a>
            </div>
        </div>
    }
    <!-- Fin Opciones para la Jefatura y Directores -->
    <!-- Opciones para Recursos Humanos -->
    @if (Model.EsSuperusuario || Model.Role.Name.Equals("recursos humanos", StringComparison.OrdinalIgnoreCase))
    {
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:250px">
                <a href="@Url.Action("Index", "User")">
                    <h3>Empleados</h3><br>
                    <i class="fa fa-users w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                </a>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:250px">
                <a href="@Url.Action("CrearParaEmpleado", "Solicitud")">
                    <h3>Vacaciones Empleado</h3><br>
                    <i class="fa fa-hotel w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                </a>
            </div>
        </div>
    }
    <!-- Fin Opciones para Recursos Humanos -->
    <!-- Opciones para Manager (Superusuario del sistema) -->
    @*@if (Model.EsSuperusuario)
    {
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:250px">
                <a href="@Url.Action("CrearParaEmpleado", "Solicitud")">
                    <h3>Vacaciones Empleado</h3><br>
                    <i class="fa fa-hotel w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
                </a>
            </div>
        </div>
    }*@
    <div class="w3-third">
        <div class="w3-card w3-container" style="min-height:250px">
            <a href="@Url.Action("Index", "Solicitud")">
                <h3>Historial Solicitudes</h3><br>
                <i class="fa fa-book w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
            </a>
        </div>
    </div>
    <!-- Fin Opciones para Manager (Superusuario del sistema) -->
</div>